@use "src/scss/variables.scss" as variables;

.navbar {
	position: absolute;
	height: variables.$nav-height;
	left: 0px;
	top: 0px;
	background: variables.$white;
	box-shadow: 0px 4px 4px variables.$nav-shadow;

	.headingIMG {
		width: 180.83px;
		height: 20px;
		@media only screen and (min-width: 768px) {
			width: 217px;
			height: 24px;
		}
	}

	.navMenu {
		position: absolute;
		left: 0;
		right: 0;
		top: calc(variables.$nav-height + 1px);
		background: variables.$white;
		overflow: hidden;
		transition: height 300ms ease-in-out;
		height: 0px;
		&.activeMenu {
			height: 130px;
			box-shadow: 0px 4px 4px variables.$nav-shadow;
			@media only screen and (min-width: 768px) {
				height: auto;
				box-shadow: none;
			}
		}
		@media only screen and (min-width: 768px) {
			position: static;
			box-shadow: none;
			transition: none;
			height: auto;
		}
	}

	.navButton {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;
		color: variables.$brownish-button;
		display: flex;
		align-items: center;

		&.active {
			font-weight: 700;
			color: variables.$red-active;
		}

		&:active {
			border-color: transparent;
		}
	}
}
