@use "src/scss/variables.scss" as *;

.paragraph {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: $brownish-black;

	&.small {
		font-size: 15px;
		line-height: 20px;
	}

	@media only screen and (max-width: $grid-breakpoint-md) {
		font-size: 15px;
		line-height: 20px;
	}
}
