@use "src/scss/variables.scss" as *;
@use "src/scss/fonts.scss" as *;

@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background: $light-grey;
	min-height: 100vh;

	.container-global {
		// padding-top: $nav-height;
		padding-bottom: 110px;

		@media only screen and (max-width: $grid-breakpoint-md) {
			padding-bottom: 93px;
		}

		.getting-started-sub-heading-2 {
			border-left: 1.5px solid $greyish;

			@media only screen and (max-width: $grid-breakpoint-md) {
				border-left: 0px solid transparent;
			}
		}

		.getting-started-article-list {
			grid-template-columns: repeat(1, 1fr);
			@media (min-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

* {
	font-family: "Nato Sans", sans-serif;
}

.h-0 {
	height: 0;
}

.btn {
	&:focus-visible {
		outline: auto !important;
	}
}

.clipped-text {
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Limit to 3 lines for webkit browsers (Chrome, Safari) */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis; /* Adds ellipsis (...) at the end of the clipped text */
}
