// Body
$light-grey: #faf8f7;

// NavBar component
$white: #ffffff;
$nav-shadow: rgba(0, 0, 0, 0.1);
$red-active: #be0028;
$brownish-button: #1a1a1a;
$nav-height: 60px;

// NavProfile component
$whitish-button: #eeeeee;
